body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #F46F25;
}

.active {
  background-color: #F46F25 !important;
  border-color:#ffffff !important;
}

.btn-primary{
  background-color: #F46F25 !important;
  border-color:#ffffff !important;
}

@media only screen and (max-height:1000px) {
  .hasil{
    height:650px;
  }

  .menu{
    height:800px;
  }
}


.overflow-auto::-webkit-scrollbar{
  display: none;
}

